/* import theme */
/* @import "./themes/rose-pine.css"; */
@import "./themes/catppuccin-mocha.css";

* {
  border: none;
  font-family: "JetBrainsMono NF";
  font-weight: normal;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @base;
  opacity: 1;
  color: @text;
  border-width: 1px;
  border-color: @crust;
  border-style: solid;
}

tooltip {
  background: @mantle;
  /* opacity: 0.8; */
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: @crust;
  color: @subtext1;
}

tooltip label {
  color: @subtext1;
}

#workspaces button {
  padding: 0px;
  margin: 3px 0px;
  color: @mauve;
  margin-right: 5px;
  font-size: 0em;
}

#workspaces button.active {
  color: @mauve;
  padding: 0px 1px;
  border-radius: 5px;
  border: 1px solid @mauve;
}

#workspaces button.focused {
  color: @base;
  padding: 0px 1px;
  border-radius: 5px;
  background: @maroon;
}

#workspaces button.urgent {
  color: @base;
  padding: 0px 1px;
  border-radius: 5px;
  background: @teal;
}

#workspaces button:hover {
  color: @base;
  padding: 0px 1px;
  border-radius: 5px;
  background: @mauve;
}

#custom-launch_fuzzel,
#custom-sonixd,
#mpris #custom-power_btn,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#tray,
#temperature,
#workspaces,
#network,
#bluetooth,
#custom-media,
#backlight {
  padding: 0px 10px;
  margin: 2px 0px;
}

#pulseaudio {
  padding: 0px 10px 0px 0px;
  margin: 2px 0px;
}

#custom-powermenu {
  margin-right: 10px;
  color: @red;
}

#custom-notifications {
  color: @yellow;
}

#custom-launch_fuzzel {
  color: @blue;
  margin-left: 10px;
  border-right: 0px;
}

#clock {
  color: @sapphire;
}

#battery.full {
  color: @green;
}

#battery.good {
  color: @yellow;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

#battery {
  /* border-radius: 0px 5px 5px 0px; */
  margin-right: 0px;
  color: @green;
}

#cpu,
#memory {
  padding-right: 3px;
}

#window {
  color: @sky;
}

#custom-media {
  padding-left: 20px;
}

#temperature.critical {
  color: @red;
}

#workspaces {
  padding-left: 5px;
}

#window {
  margin-right: 20px;
}

#custom-updates {
  color: @saphhire;
}

#custom-updates.update {
  color: @teal;
}

#network,
#bluetooth,
#custom-thunderbird {
  color: @blue;
}

#custom-thunderbird.mail {
  color: @green;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
  padding-right: 10px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  padding: 0;
  margin: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  background: @maroon;
}
